* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "ROBOTO", sans-serif;
}

.nav,
.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: #1e1f26;
    text-align: center;
    padding: 0 2em;
}

.nav h1,
.slider h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 5vw;
    margin: 0;
    padding-bottom: 0.5rem;
    letter-spacing: 0.5rem;
    color: #03dac6;
    transition: all 0.3s ease;
    z-index: 3;
}
h1:hover {
    transform: translate3d(0, -10px, 22px);
    color: #ff0266;
}

.slider h2 {
    font-size: 2vw;
    letter-spacing: 0.3rem;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: #faebd7;
    z-index: 4;
}
h3.span {
    font-size: 2vw;
    letter-spacing: 0.7em;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: #faebd7;
    z-index: 4;
}
span:hover {
    color: #ff0266;
    font-weight: 500;
    font-size: 2.2vw;
}

a {
    text-decoration: none;
}

.nav-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: #1e1f26;
    z-index: 10;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-first {
    position: fixed;
    top: 75px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-second {
    position: fixed;
    top: 0;
}
.nav-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #03dac6;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 2vw;
}

.nav-tab:hover {
    color: #1e1f26;
    background: #03dac6;
    transition: all 0.5s ease;
}

.nav-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #03dac6;
    transition: left 0.3s ease;
}
.background {
    position: absolute;
    height: 90vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: auto;
}
@media (min-width: 800px) {
    .nav h1,
    .slider h1 {
        font-size: 5vw;
    }

    .nav h2,
    .slider h2 {
        font-size: 3vw;
    }

    .nav-tab {
        font-size: 3vw;
    }
}

@media screen and (min-width: 360px) {
    .nav h1,
    .slider h1 {
        font-size: 8vw;
    }

    .nav h2,
    .slider h2 {
        font-size: 2vw;
        letter-spacing: 0.2vw;
    }

    .nav-tab {
        font-size: 1.2vw;
    }
}
.background {
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.loader span {
    color: #faebd7;
    text-shadow: 0 0 0 #faebd7;
    -webkit-animation: loading 3s ease-in-out infinite alternate;
}

h3.span.loader {
    letter-spacing: -0.03em;
}


@-webkit-keyframes loading {
    to {
        text-shadow: 20px 0 70px #ff0266;
        color: #ff0266;
    }
}
.loader span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
}
.loader span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
}
.loader span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
}
.loader span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
}
.loader span:nth-child(6) {
    -webkit-animation-delay: 0.5s;
}
.loader span:nth-child(7) {
    -webkit-animation-delay: 0.6s;
}
.loader span:nth-child(8) {
    -webkit-animation-delay: 0.7s;
}
.loader span:nth-child(9) {
    -webkit-animation-delay: 0.8s;
}

.loader span:nth-child(10) {
    -webkit-animation-delay: 0.9s;
}
.loader span:nth-child(11) {
    -webkit-animation-delay: 1s;
}
.loader span:nth-child(12) {
    -webkit-animation-delay: 1.1s;
}
.loader span:nth-child(13) {
    -webkit-animation-delay: 1.2s;
}
.loader span:nth-child(14) {
    -webkit-animation-delay: 1.3s;
}
.loader span:nth-child(15) {
    -webkit-animation-delay: 1.4s;
}
.loader span:nth-child(16) {
    -webkit-animation-delay: 1.5s;
}
.loader span:nth-child(17) {
    -webkit-animation-delay: 1.6s;
}
.loader span:nth-child(18) {
    -webkit-animation-delay: 1.7s;
}
.loader span:nth-child(19) {
    -webkit-animation-delay: 1.8s;
}
.loader span:nth-child(20) {
    -webkit-animation-delay: 1.9s;
}
.loader span:nth-child(21) {
    -webkit-animation-delay: 2s;
}
.loader span:nth-child(22) {
    -webkit-animation-delay: 2.1s;
}
.loader span:nth-child(23) {
    -webkit-animation-delay: 2.2s;
}
.loader span:nth-child(24) {
     -webkit-animation-delay: 2.3s;
}
.loader span:nth-child(25) {
    -webkit-animation-delay: 2.4s;
}
.loader span:nth-child(26) {
    -webkit-animation-delay: 2.5s;
}
.loader span:nth-child(27) {
    -webkit-animation-delay: 2.6s;
}
.loader span:nth-child(28) {
    -webkit-animation-delay: 2.7s;
}
.loader span:nth-child(29) {
    -webkit-animation-delay: 2.8s;
}
.loader span:nth-child(30) {
    -webkit-animation-delay: 2.9s;
}
.loader span:nth-child(31) {
    -webkit-animation-delay: 3s;
}
.loader span:nth-child(32) {
    -webkit-animation-delay: 3.1s;
}
.loader span:nth-child(33) {
    -webkit-animation-delay: 3.2s;
}

/**
button {
    background-color: #1e1f26;
    font-weight: 600;
    color: #03dac6;
    padding: 20px;
    border-radius: 10px;
    border-color: #03dac6;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 170px;
    right: 150px;
}
button:hover {
    color: #ff0266;
    cursor: pointer;
    border-color: #ff0266;
}**/

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 10px;
    background: #1e1f26;
    border-radius: 5px;
    width: 30%;
    height: 75%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 5px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #03dac6;
}
.popup .close:hover {
    color: #ff0266;
}

.popup .content {
    height: 100%;
    overflow: auto;
}

.content-frame {
    width: 100%;
    height: 100%;
    border: none;
}